<app-navbar>
  <div class="container">
    <div class="header">
      <h1>Countries</h1>
      <app-select
        [appearance]="'outline'"
        [label]="'Filter by region'"
        [action]="filterByRegion"
        [options]="regions"
      >
      </app-select>
    </div>
    <app-input
      [appearance]="''"
      [label]="'Search'"
      [type]="'text'"
      [placeholder]="'Search country by common name or FIFA code.'"
      [action]="searchByNameOrFifa"
    ></app-input>
    <button
      mat-flat-button
      color="accent"
      [disabled]="favorites.length == 0"
      (click)="saveFavourite()"
    >
      Save favourites
    </button>
    <mat-grid-list cols="4">
      <mat-grid-tile *ngFor="let country of countries">
        <app-card
          class="card"
          [country]="country"
          [actionFavorites]="chooseFavourite"
        ></app-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</app-navbar>
