.icon{
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 9999;
}
.favorite{
    position: absolute;
    float: right;
    z-index: 9999;
    margin-left: -16px;
}
.flagImage{
    aspect-ratio: 1;
    object-fit: contain;
    width:100%;
}